.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar{
  display: none;
}